USE [master]
GO
/****** Object:  Database [FUHouseFinder]    Script Date: 8/23/2023 9:49:42 PM ******/
CREATE DATABASE [FUHouseFinder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUHouseFinder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUANG\MSSQL\DATA\FUHouseFinder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUHouseFinder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUANG\MSSQL\DATA\FUHouseFinder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUHouseFinder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUHouseFinder]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Role] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](1000) NULL,
	[Rate] [float] NOT NULL,
	[DateComment] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[HouseID] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackOptions]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[OptionName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_FeedbackOptions] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackOptionId] [int] NOT NULL,
	[FeedbackUserId] [int] NOT NULL,
	[FeedbackContent] [nvarchar](1000) NOT NULL,
	[FeedbackReply] [nvarchar](1000) NULL,
	[FeedbackStatus] [int] NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hamlets]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hamlets](
	[HamletID] [int] IDENTITY(1,1) NOT NULL,
	[HamletName] [nvarchar](50) NOT NULL,
	[VillageID] [int] NOT NULL,
 CONSTRAINT [PK_Hamlet] PRIMARY KEY CLUSTERED 
(
	[HamletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[HouseID] [int] IDENTITY(1,1) NOT NULL,
	[HouseName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[DistanceToCampus] [float] NOT NULL,
	[PowerPrice] [float] NOT NULL,
	[WaterPrice] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[FingerPrintLock] [bit] NOT NULL,
	[Camera] [bit] NOT NULL,
	[NumberOfRoom] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[VillageID] [int] NOT NULL,
	[HamletID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[NoOfRoom] [int] NOT NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[HouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[HouserID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DateBooking] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[DateCheckIn] [date] NULL,
	[DateCheckOut] [date] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Villages]    Script Date: 8/23/2023 9:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Villages](
	[VillageID] [int] IDENTITY(1,1) NOT NULL,
	[VillageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Village] PRIMARY KEY CLUSTERED 
(
	[VillageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([UserID], [Email], [Password], [LastName], [Phone], [Address], [DOB], [FirstName], [Role], [Status]) VALUES (1018, N'admin@fpt.edu.vn', N'dd130a849d7b29e5541b05d2f7f86a4acd4f1ec598c1c9438783f56bc4f0ff80', N'Admin', N'0918210502', N'Hà Nội', CAST(N'1980-03-20' AS Date), N'Admin', 3, 1)
INSERT [dbo].[Accounts] ([UserID], [Email], [Password], [LastName], [Phone], [Address], [DOB], [FirstName], [Role], [Status]) VALUES (1019, N'houseowner1@fpt.edu.vn', N'dd130a849d7b29e5541b05d2f7f86a4acd4f1ec598c1c9438783f56bc4f0ff80', N'House', N'0918210502', N'Hòa Lạc', CAST(N'1970-06-22' AS Date), N'Owner', 2, 1)
INSERT [dbo].[Accounts] ([UserID], [Email], [Password], [LastName], [Phone], [Address], [DOB], [FirstName], [Role], [Status]) VALUES (1020, N'houseowner2@fpt.edu.vn', N'dd130a849d7b29e5541b05d2f7f86a4acd4f1ec598c1c9438783f56bc4f0ff80', N'House', N'0918210503', N'Hòa Lạc', CAST(N'1972-12-01' AS Date), N'Owner 2', 2, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [Comment], [Rate], [DateComment], [UserID], [HouseID]) VALUES (465, N'What a gem of a house! The elegant architecture and lush landscaping make it a true standout in the neighborhood. The thoughtfully designed interior spaces offer both comfort and style, and the abundance of windows creates a bright and airy atmosphere. I can already imagine enjoying lazy Sunday mornings in that cozy breakfast nook', 5, CAST(N'2023-08-21' AS Date), 1022, 1458)
INSERT [dbo].[Comments] ([CommentID], [Comment], [Rate], [DateComment], [UserID], [HouseID]) VALUES (466, N'This house is a masterpiece of modern design. From the sleek lines to the minimalist color palette, every aspect exudes sophistication. The open layout seamlessly connects the living areas, and the high-end finishes add a touch of luxury. Plus, the panoramic views from the expansive windows are simply awe-inspiring', 4, CAST(N'2023-08-21' AS Date), 1022, 1459)
INSERT [dbo].[Comments] ([CommentID], [Comment], [Rate], [DateComment], [UserID], [HouseID]) VALUES (467, N'A true family haven! This house strikes the perfect balance between practicality and charm. The spacious kitchen is a culinary enthusiast''s dream, and the well-appointed bedrooms offer plenty of relaxation space. The backyard is like a private oasis with its meticulously landscaped garden and inviting patio area.', 5, CAST(N'2023-08-21' AS Date), 1022, 1460)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackOptions] ON 

INSERT [dbo].[FeedbackOptions] ([OptionID], [OptionName]) VALUES (1, N'User Interface')
INSERT [dbo].[FeedbackOptions] ([OptionID], [OptionName]) VALUES (2, N'Houses')
INSERT [dbo].[FeedbackOptions] ([OptionID], [OptionName]) VALUES (3, N'Book house function')
SET IDENTITY_INSERT [dbo].[FeedbackOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackOptionId], [FeedbackUserId], [FeedbackContent], [FeedbackReply], [FeedbackStatus]) VALUES (6, 1, 1022, N'Wow, this article really opened my eyes to a new perspective. Thanks for sharing!', NULL, 0)
INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackOptionId], [FeedbackUserId], [FeedbackContent], [FeedbackReply], [FeedbackStatus]) VALUES (7, 2, 1022, N'I can relate so much to what you''re saying here. It''s comforting to know I''m not alone.', N'Thanks', 1)
INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackOptionId], [FeedbackUserId], [FeedbackContent], [FeedbackReply], [FeedbackStatus]) VALUES (8, 3, 1022, N'Your tips are spot on! I''m definitely going to implement these strategies in my own life.', N'Lon', 1)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Hamlets] ON 

INSERT [dbo].[Hamlets] ([HamletID], [HamletName], [VillageID]) VALUES (1, N'Phú Hữu', 1)
INSERT [dbo].[Hamlets] ([HamletID], [HamletName], [VillageID]) VALUES (2, N'Cừ Viên', 1)
INSERT [dbo].[Hamlets] ([HamletID], [HamletName], [VillageID]) VALUES (3, N'Cầu Giáo', 1)
SET IDENTITY_INSERT [dbo].[Hamlets] OFF
GO
SET IDENTITY_INSERT [dbo].[Houses] ON 

INSERT [dbo].[Houses] ([HouseID], [HouseName], [Address], [DistanceToCampus], [PowerPrice], [WaterPrice], [Price], [FingerPrintLock], [Camera], [NumberOfRoom], [Image], [Note], [Status], [VillageID], [HamletID], [UserID], [NoOfRoom]) VALUES (1459, N'Ánh Dương', N'Số 25/2 đường Nguyễn Văn Linh', 5, 2000, 3000, 2000000, 1, 1, 10, N'https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg', N'', 1, 1, 2, 1019, 12)
SET IDENTITY_INSERT [dbo].[Houses] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [HouserID], [UserID], [DateBooking], [Status], [DateCheckIn], [DateCheckOut]) VALUES (463, 1458, 1022, CAST(N'2023-08-21' AS Date), 2, NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [HouserID], [UserID], [DateBooking], [Status], [DateCheckIn], [DateCheckOut]) VALUES (464, 1459, 1022, CAST(N'2023-08-21' AS Date), 5, CAST(N'2023-08-23' AS Date), CAST(N'2023-08-23' AS Date))
INSERT [dbo].[Orders] ([OrderID], [HouserID], [UserID], [DateBooking], [Status], [DateCheckIn], [DateCheckOut]) VALUES (465, 1460, 1022, CAST(N'2023-08-21' AS Date), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Villages] ON 

INSERT [dbo].[Villages] ([VillageID], [VillageName]) VALUES (1, N'Tân Xã')
INSERT [dbo].[Villages] ([VillageID], [VillageName]) VALUES (2, N'Thạch Hoà')
SET IDENTITY_INSERT [dbo].[Villages] OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Accounts] FOREIGN KEY([UserID])
REFERENCES [dbo].[Accounts] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Accounts]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Houses] FOREIGN KEY([HouseID])
REFERENCES [dbo].[Houses] ([HouseID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Houses]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Accounts] FOREIGN KEY([FeedbackUserId])
REFERENCES [dbo].[Accounts] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Accounts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_FeedbackOptions] FOREIGN KEY([FeedbackOptionId])
REFERENCES [dbo].[FeedbackOptions] ([OptionID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_FeedbackOptions]
GO
ALTER TABLE [dbo].[Hamlets]  WITH CHECK ADD  CONSTRAINT [FK_Hamlets_Villages] FOREIGN KEY([VillageID])
REFERENCES [dbo].[Villages] ([VillageID])
GO
ALTER TABLE [dbo].[Hamlets] CHECK CONSTRAINT [FK_Hamlets_Villages]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_House_Hamlet] FOREIGN KEY([HamletID])
REFERENCES [dbo].[Hamlets] ([HamletID])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_House_Hamlet]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_House_Village] FOREIGN KEY([VillageID])
REFERENCES [dbo].[Villages] ([VillageID])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_House_Village]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_Accounts] FOREIGN KEY([UserID])
REFERENCES [dbo].[Accounts] ([UserID])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_Accounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Accounts] FOREIGN KEY([UserID])
REFERENCES [dbo].[Accounts] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Accounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Houses] FOREIGN KEY([HouserID])
REFERENCES [dbo].[Houses] ([HouseID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Houses]
GO
USE [master]
GO
